@page "/"
@inject NavigationManager NavigationManager

<Row>
    <Column>
        <Card Margin="Margin.Is4.OnY">
            <CardHeader>
                <CardTitle>Video player</CardTitle>
            </CardHeader>
            <CardBody>
                <Buttons>
                    <Button Color="Color.Primary" Clicked="@(()=>videoRef.Play())">
                        <Icon Name="IconName.Play" />
                    </Button>
                    <Button Color="Color.Primary" Clicked="@(()=>videoRef.Pause())">
                        <Icon Name="IconName.Pause" />
                    </Button>
                    <Button Color="Color.Primary" Clicked="@(()=>videoRef.Stop())">
                        <Icon Name="IconName.Stop" />
                    </Button>
                </Buttons>
                <Button Color="Color.Primary" Clicked="@OnChangeVideoUrl">Change Video</Button>
                <Button Color="Color.Primary" Clicked="@OnChangeCurrentTime">Go to 20 seconds</Button>
            </CardBody>
            <CardBody>
                    <Video Source="@("https://valur-97caf219-514b-eventstreamingdev.preview-euno.channel.media.azure.net/a9645e9c-aa59-4c56-991d-7dc7c9d927eb/preview.ism/manifest")" StreamingLibrary="StreamingLibrary.None" />
                </CardBody>
        </Card>
    </Column>
</Row>

<button class="btn btn-primary" @onclick="NavigateToCounterComponent"> Navigate to Chart </button>

@code {
    Video videoRef;
    string videoUrl = "http://commondatastorage.googleapis.com/gtv-videos-bucket/sample/BigBuckBunny.mp4";
    double currentTime = 10;

    Task OnChangeVideoUrl()
    {
        videoUrl = "http://commondatastorage.googleapis.com/gtv-videos-bucket/sample/ElephantsDream.mp4";
        currentTime = 0;

        return Task.CompletedTask;
    }

    Task OnChangeCurrentTime()
    {
        currentTime = 20;

        return Task.CompletedTask;
    }

    private void NavigateToCounterComponent() { NavigationManager.NavigateTo("chart"); }
} 